{{ partial "top.html" . }}

<article class="posts">
    <header class="terms-header">
        <h1 class="terms-title">{{ .Title }}</h1>
    </header>

    {{ range site.RegularPages.GroupByDate "2006" -}}
    <section>
      <ol>
        {{ range .Pages -}}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02 2006"}}</time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>
    {{ end }}

  </article>

{{ partial "bottom.html" . }}
