
      <footer class="site-footer">
        <span itemscope itemtype="http://schema.org/Person">
          <link itemprop="url" href="{{ .Site.BaseURL }}">
          {{ with .Site.Author.name }}
          <span itemprop="name">{{- . -}}</span>
          {{ end }}

          {{ if isset .Site.Params "gpg" -}}
          <a itemprop="sameAs" href="{{ .Site.Params.gpg.link }}" title="GPG {{ .Site.Params.gpg.key }} (fingerprint: {{ .Site.Params.gpg.fingerprint }})">GPG</a>
          {{- end }}
        </span>

        {{ "<!-- Build date: " | safeHTML }}{{ (now.Format "Mon, 02 Jan 2006 15:04:05 MST") | safeHTML }}{{ " -->" | safeHTML }}
      </footer>
    </div>

  {{ if not .IsHome -}}
  <script src="{{ "js/highlight.pack.js" | relURL }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{- end }}

  </body>
</html>
